/* Cor do header - #982417 */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Jockey+One&family=Just+Me+Again+Down+Here&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --corprincipaldosite: #982417;
    --cortexto: #FFF0D1;
    --textodestaquecabesalho: #C7AB72;
    --backcolorDepoimentos: #000000;
    --colortextDP: white;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-direction: column;
    
}

header{
    display: flex;
    height: 20vh;
    background-color: var(--corprincipaldosite);
    color: var(--cortexto);
    padding: 10px;
    
    
}

.cabesalho{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
}

.logo_titulo{
    display: flex;
}
.nome_site{
    position: relative;
    top: 40px;
    right: 20px;
    font-family: 'just me again down here', cursive;
    font-size: 90px;
}

.cabesalho_destaque{
    color: var(--textodestaquecabesalho);
}
.menu{
    position: relative;
    bottom: 30px;
}

.menu ul{
    gap: 100px;
    display: flex;
}

.menu li, a{
    font-family: 'just me again down here', cursive;
    font-size: 40px;
    list-style: none;
    text-decoration: none;
    color: var(--cortexto);
    padding: 0;
    margin: 0;  
}
.menu li:hover{
    border-bottom: 5px solid var(--cortexto);
    transition: 0.1s;
}

.sejafranqueado{
    margin-left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    background-image: url(../img/banner_Dsk.png);
}
.fraq_registrar{
    display: flex;
    flex-direction: column;
    margin-left: 1330px;
    width: 589px;
    height: 237px;
    background-color: rgba(254, 254, 254, 0.808);
    justify-content: center;
    align-items: center;
}
.fraq_registrar h1{
    position: relative;
    bottom: 30px;
    left: 30px;
    justify-content: center;
    font-family: "lekton", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
}
.fraq_registrar h3{
    position: relative;
    font-family: "inria sans", sans-serif;
    font-size: 28px;

}
.destaque_mais_cresce{
    color: brown;
}

.buttons_franq{
    position: relative;
    top: 30px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button_RI{
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
    background-color: #FF9C2D;
    width: 162px;
    height: 35px;
}
.button_RI:hover{
    background-color: #8f5819;
    color: white;
    transition: 0.1s;
}

.button_SM{
    border-radius: 6px;
    Padding: 8px 16px 8px 16px;
    border: 1px solid #FF9C2D;
    background-color: white;
    width: 108px;
    height: 35px;
}
.button_SM:hover{
    background-color: #afafaf;
    color: white;
    transition: 0.1s;
}
.beneficios_vantagens{
    width: 100vw;
    height: 50vh;
    /* display: flex; */
    background-color: var(--cortexto);
    /* justify-content: center; */
    /* align-items: center; */
}

#titulo_beneficios{
    position: relative;
    left: 25px;
    top: 30px;
    gap: 10px;
    padding: 0px 0px 0px 7px;
    border-left: 8px solid var(--corprincipaldosite);
    text-align: left;
    width: 1376px;
    height: 32px;
    font-size: 32px;
    bottom: 50px;
    font-family: "lekton";
    font-weight: bold;
    color: var(--corprincipaldosite);
}

.beneficios{
    position: relative;
    top: 75px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.beneficio img{
    width: 96px;
    height: 96px;
}

.beneficio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 16px;
    padding: 32px 16px 32 16px;
    width: 300px;
    height: 249px;
    background-color: white;
}
.beneficio h3{
    width: 190px;
    height: 19px;
    font-family: "inria sans";
    color: var(--corprincipaldosite);
}
.beneficio p{
    width: 268px;
    height: 38px;
    font-family: "inria sans";
    color: black;
}
.beneficio:hover{
    background-color: #c9c9c9;
    color: white;
    transition: 0.5s;
}
.beneficio:hover h3{
    width: 235px;
    height: 19px;
    color: white;
    transition: 0.1s;
    font-size: 20px;
}
.depoimentos{
    justify-content: center;
    align-items: center;
    background-color: var(--backcolorDepoimentos);
    width: 100vw;
    height: 70vh;
}
.conteudo_dp{
    position: relative;
    top: 45px;
    left: 250px;
    width: 1376px;
    height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}
.conteudo_dp img:hover{
    
    border-radius: 25%;
    transition: 3s;
}

#titulo_dp{
    position: relative;
    left: 25px;
    top: 30px;
    padding: 0px 0px 0px 7px;
    border-left: 8px solid white;
    text-align: left;
    width: 1376px;
    height: 32px;
    font-size: 32px;
    bottom: 50px;
    font-family: "lekton";
    font-weight: bold;
    color: white;
}

.text_dp{
    color: var(--colortextDP);
    display: flex;
    flex-direction: column;
    width: 844px;
    height: 258px;
    padding: 32px 32px;
    gap: 20px;
}
.text_dp #doc_dp{
    width: 780px;
    height: 175px;
    font-weight: 400px;
    line-height: 25px;
    font-family: "inria sans";
    font-style: italic;
    font-size: 20px;
}
.text_dp h2{
    width: 224px;
    height: 32px;
    font-family: "lekton";
    font-size: 32px;
}
.text_dp h5{
    width: 182px;
    height: 19px;
    font-family: "inria sans";
    font-size: 16px;
    line-height: 100%;
    font-weight: 400px;
}
.conteudo_dp img{
    padding: 35px;
    border: 1px solid white;

}
.modelo_negocio{
    width: 100vw;
    height: 70vh;
    background-color: white;
}
.titulo_mn{
    position: relative;
    left: 25px;
    top: 30px;
    padding: 0px 0px 0px 7px;
    border-left: 8px solid var(--corprincipaldosite);
    text-align: left;
    width: 1376px;
    height: 32px;
    font-size: 32px;
    bottom: 50px;
    font-family: "lekton";
    font-weight: bold;
    color: var(--corprincipaldosite);
}

.conteudo_mn{
    position: relative;
    top: 75px;
    left: 280px;
    width: 1376px;
    height: 556px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.conteudo_mn h2{
    position: relative;
    bottom: 2px;
    width: 581px;
    height: 64px;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--corprincipaldosite);
    font-family: "lekton";
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: bold;
    color: white;
}
.conteudo_mn img{
    width: 581px;
    height: 308px;
}

.modelo_bistro{
    width: 613px;
    height: 556px;
    padding: 16px;
}
.modelo_quiosque{
    width: 613px;
    height: 556px;
    padding: 16px;
}
.modelo_text{
    width: 581px;
    height: 152px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.list_mn li{
    width: 581px;
    height: 50px;
    font-family: "inria sans";
    font-weight: 400px;
    font-size: 20px;
    line-height: 100%;
    list-style-type: disc;
    list-style: inside;
    padding-left: 10px;
    letter-spacing: 0%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corprincipaldosite);
    width: 100vw;
    height: 15vh;
    gap: 32px;
}
.footer h2{
    font-family: 'just me again down here';
    color: var(--cortexto);
    font-size: 24px;
    font-weight: 400px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--cortexto);
}

.redes_sociais{
    width: 323px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.entre_contato{
    width: 302px;
    height: 36px;
    gap: 16px;
}

#footer_text_dvs{
    position: relative;
    top: 40px;
}
#footer_text_contato{
    position: relative;
    right: 20px;
    gap: 10px;
}

.footer_social-icon{
    font-size: 32px;
}


